name: Build EXE

on:
  workflow_dispatch:   # 手动触发
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests
          pip install tkinterdnd2
          pip install pyinstaller

      - name: Build exe
        run: |
          pyinstaller --onefile --windowed hls_gui.py --hidden-import=tkinterdnd2

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hls_gui_exe
          path: dist/hls_gui.exe
